.center {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

form {
    border: solid 4px #222224;
    border-radius: 50%;
    background: linear-gradient(180deg, #ee1515 50%, #f0f0f0 50%);
    height: 450px;
    width: 650px;
    font-size: 2em;
    top: 10px;
    
    .title {
        margin: 10px 10px;;
    }

    input {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    button {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: solid 4px #222224;
        margin-left: auto;
        margin-right: auto;
        background-color: #f0f0f0;
        z-index: 1;
    }
}

form:after {
    position: relative;
    top: -15%;
    height: 5px;
    background: #222224;
    content: "";
}

pre {    
    font-size: 2em;
}

.sprite {
    width: 15%;
    height: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}